.woocommerce .woocommerce-breadcrumb {
    border-bottom: 2px solid lighten($ui-secondary, 20%);
    color: #292942;
    padding-bottom: 1.25rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;

    &:before,
    &:after {
        display: none;
    }

    @include breakpoint(from-desktop) {
        margin-bottom: 2.5rem;
    }

    a {
        color: #292942;
    }
}
