.woocommerce-cart {
    .basic-content {
        font-size: 1rem;

        @include breakpoint(from-desktop) {
            &:before {
                content: '';
                position: absolute;
                width: 50%;
                height: 100%;
                left: 0;
                top: 0;
                background: #ebebeb;
                z-index: 2;
            }
        }
    }

    .woo-container {
        @include breakpoint(from-desktop) {
            display: flex;
        }
    }

    .page-title-wrapper {
        margin-bottom: 1rem;

        @include breakpoint(from-phablet) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        h1 {
            margin-top: 0;

            @include breakpoint(from-phablet) {
                margin: 0;
            }
        }
    }

    .woocommerce-cart-form,
    .woocommerce .cart-collaterals {
        h1,
        h2 {
            margin-top: 0;
            font-size: 1.75rem;
        }
    }

    .woocommerce-cart-form {
        padding: 1.5rem 0;

        @include breakpoint(from-desktop) {
            background: #ebebeb;
            width: 60%;
            padding: 2rem 2rem 2rem 0;
        }

        @include breakpoint(from-desktop-mid) {
            padding: 3rem 3rem 3rem 0;
            width: 66%;
        }
    }

    .woocommerce .cart-collaterals {
        background: white;
        padding: 1.5rem 0;

        @include breakpoint(from-desktop) {
            width: 40%;
            padding: 2rem 0 2rem 2rem;
        }

        @include breakpoint(from-desktop-mid) {
            padding: 3rem 0 3rem 3rem;
            width: 34%;
        }
    }

    .woocommerce .cart-collaterals .cart_totals {
        width: 100%;

        table.shop_table {
            border: none;
        }

        td,
        th {
            padding: 0.75rem 0;
        }

        td {
            text-align: right;
        }

        tr.woocommerce-shipping-totals {
            td {
                text-align: left !important;

                &:before {
                    text-align: left;
                    float: none;
                    display: block;
                }
            }
        }

        .shipping-calculator-button {
            color: $ui-primary;
        }

        select,
        input[type="text"],
        .select2-container--default .select2-selection--single  {
            appearance: none;
            background-color: #fff;
            border-color: rgba(0, 0, 0, 0.3);
            border-width: 1px;
            border-radius: 0px;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5rem;
        }

        .select2-container--default .select2-selection--single {
            height: auto;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 1.5rem;
            padding: 0;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            display: none;
        }

        select,
        .select2-container--default .select2-selection--single {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
            background-position: right 0.5rem center;
            background-repeat: no-repeat;
            background-size: 1.5em 1.5em;
            padding-right: 2.5rem;
            -webkit-print-color-adjust: exact;
            color-adjust: exact;
        }

        ul#shipping_method {
            margin-top: 1rem;

            @include breakpoint(from-desktop) {
                margin: 0;
            }
        }

        ul#shipping_method li {
            display: flex;
            align-items: center;

            input[type="radio"] {
                margin: 0 0.75rem 0 0;
            }
        }
    }

    table.cart {
        background: white;
        border-radius: 0;

        @include breakpoint(from-tablet) {
            box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
        }

        th {
            background: $ui-secondary;
            color: white;
            text-align: left;
            padding: 0.5rem 1rem;
            font-weight: 500 !important;
        }

        td {
            padding: 0.75rem 1rem;
        }

        .product-thumbnail {
            display: block;

            @include breakpoint(from-tablet) {
                display: table-cell;
                width: 7rem;
            }

            &:before {
                display: none;
            }

            a {
                display: block;
                text-align: center;
            }

            img {
                width: 100%;
                max-width: 10rem;

                @include breakpoint(from-tablet) {
                    width: 5rem;
                }
            }
        }

        .product-name {
            font-weight: 700;

            a {
                color: inherit;
            }
        }

        .product-price {
            text-align: right;
            font-weight: 500;

            @include breakpoint(from-desktop) {
                width: 8rem;
            }
        }

        .product-remove {
            text-align: left;

            @include breakpoint(from-desktop) {
                width: 3.5rem;
            }

            a.remove {
                width: auto;
                height: auto;
                border-radius: 0;
                font-size: 1rem;

                &:hover {
                    background: none;
                    color: black !important;
                }
            }
        }

        .product-quantity .qty {
            width: 4rem;
            padding: 0.75rem 0.5rem;
        }
    }

    .coupon {
        display: flex;

        label {
            display: none;
        }

        input {
            background-color: #fff;
            border-color: rgba(0, 0, 0, 0.3);
            border-width: 1px;
            border-radius: 0px;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5rem;
            flex: 1;
        }

        button {
            border-radius: 0;
            border: 1px solid $ui-primary;
            padding: 0.75rem 1rem;
        }
    }
}
