.woocommerce {
    .woocommerce-products-header {
        margin-bottom: 1rem;
        text-align: center;

        @include breakpoint(from-desktop) {
            margin-bottom: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            text-align: left;
        }

        .woocommerce-products-header__title {
            margin: 0 0 0.5rem 0;
            text-align: center;

            @include breakpoint(from-desktop) {
                text-align: left;
            }
        }

        .woocommerce-result-count {
            float: none;
            margin: 0;
            text-align: center;

            @include breakpoint(from-desktop) {
                text-align: left;
            }
        }

        .woocommerce-ordering {
            float: none;
            margin: 1.25rem 0 0 0;
            display: flex;
            align-items: center;
            justify-content: center;

            @include breakpoint(from-desktop) {
                margin: 0;
                justify-content: flex-end;
            }

            label {
                margin-right: 0.5rem;
            }
        }
    }

    .main-product-loop {
        @include breakpoint(from-desktop) {
            display: flex;
        }

        .product-feed {
            flex: 1;

            @include breakpoint(from-desktop) {
                border-left: 2px solid lighten($ui-secondary, 20%);
                padding-left: 2rem;
            }

            @include breakpoint(from-desktop-mid) {
                padding-left: 3rem;
            }
        }

        .sidebar {
            flex: 0 0 30%;
            display: none;

            @include breakpoint(from-desktop) {
                display: block;
                border-right: 2px solid lighten($ui-secondary, 20%);
                padding-right: 2rem;
                margin-right: -2px;
            }

            @include breakpoint(from-desktop-mid) {
                padding-right: 3rem;
                flex: 0 0 20%;
            }

            &.open {
                display: block;
            }

            .widget-container {
                padding: 0 0 2rem 0;

                ul {
                    margin-top: 0.75rem;
                    padding: 0;
                }

                li {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;

                    &:after,
                    &:before {
                        display: none;
                    }

                    ul {
                        margin: 0.75rem 0;
                        width: 100%;
                        padding-left: 1.75rem;
                    }
                }

                li:not(:first-child) {
                    margin-top: 0.25rem;
                }

                li.current-cat {
                    a:before {
                        background: #2db218;
                    }
                }

                li.chosen {
                    font-weight: 700;

                    a:before {
                        content: '\f00d';
                        font-family: $font-family-icons;
                        background: #2db218;
                        border: none;
                        color: white;
                        line-height: 1.125rem;
                        text-align: center;
                        font-size: 0.75rem;
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    color: inherit;

                    &:before {
                        content: "";
                        display: block;
                        width: 1.125rem;
                        height: 1.125rem;
                        border: 2px solid #d0d0d0;
                        border-radius: 99rem;
                        margin-right: 0.75rem;
                        flex: 0 0 1.125rem;
                    }

                    &:hover {
                        &:before {
                            content: '\f00c';
                            font-family: $font-family-icons;
                            background: #d0d0d0;
                            border: none;
                            line-height: 1.125rem;
                            text-align: center;
                            font-size: 0.75rem;
                        }
                    }
                }

                .count {
                    font-size: 0.9em;
                    margin-left: 0.5rem;
                }
            }

            .widget-title {
                font-size: 1.125rem;
                margin: 0;
            }
        }
    }

    ul.products,
    ul.products.columns-3 {
        display: flex;
        flex-wrap: wrap;

        @include breakpoint(from-tablet) {
            margin: 0 -0.75rem;
        }

        li.product {
            float: none;
            box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
            text-align: center;
            padding-bottom: 2rem;
            background-color: white;
            margin: 0 0.75rem 1.5rem 0.75rem;
            transition: all 0.3s ease-in-out;
            border: 1px solid rgba(0, 0, 0, 0.2);
            width: 100%;

            @include breakpoint(from-tablet) {
                width: calc(50% - 1.5rem);
            }

            @include breakpoint(from-desktop-mid) {
                width: calc(33.3333% - 1.5rem);
            }

            &:hover {
                box-shadow: none;
            }

            a {
                display: block;
                color: black;

                .product-details {
                    padding: 0.25rem 1rem;
                    text-align: left;
                }

                img {
                    margin: 0;
                }
            }

            .woocommerce-loop-product__title {
                font-size: 1rem;

                @include breakpoint(from-tablet) {
                    font-size: 1.5rem;
                }
            }

            .price {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: center;
                min-height: 4rem;
                text-align: center;
                font-size: 1.25rem;
                color: black;
                font-weight: 700;

                @include breakpoint(from-tablet) {
                    font-size: 2rem;
                }

                > span.amount {
                    margin: 0 0.5rem;
                }

                ins {
                    width: 100%;
                    text-decoration: none;
                }

                del {
                    width: 100%;
                    order: 1;
                    font-size: 0.9rem;
                    text-decoration: none;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:before {
                        content: 'Regular';
                        margin-right: 0.325rem;
                    }
                }
            }

            .button {
                background: $ui-primary;
                color: white;
                text-align: center;
                text-transform: uppercase;
                display: inline-block;
                margin: 0;
                border-radius: 99rem;
                padding: 0.75rem 2rem;

                &:hover {
                    background: $ui-secondary;
                }
            }
        }
    }

    nav.woocommerce-pagination {
        text-align: right;

        ul {
            border-color: rgba(0, 0, 0, 0.3);
            border-width: 1px;

            li {
                border-color: rgba(0, 0, 0, 0.3);

                a {
                    color: inherit;
                    padding: 0.5rem 0.75rem;
                }

                span {
                    padding: 0.5rem 0.75rem;
                }
            }
        }
    }

    &.post-type-archive {
        button.filter-button {
            float: right;
            display: inline-flex !important;
            font-size: 0.9rem;
            padding: 0.5rem 1rem;
            align-items: center;
            margin-top: -0.25rem;

            .far {
                margin-right: 0.5rem;
                font-size: 0.8rem;
                opacity: 0.7;
            }

            @include breakpoint(from-desktop) {
                display: none !important;
            }
        }
    }
}
