.woocommerce-checkout:not(.woocommerce-order-received) {
    .woocommerce > .woocommerce-notices-wrapper {
        display: none;
    }

    .woocommerce-form-coupon-toggle {
        display: none;
    }

    .order-summary-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #eeefef;
        margin: 0 -1.25rem;
        padding: 1.5rem 1.25rem;
        border-bottom: 0.25rem solid white;

        @include breakpoint(from-tablet) {
            display: none;
        }

        .summary-handle {
            display: flex;
            align-items: center;
            font-weight: 700;
        }

        .far {
            margin-right: 0.75rem;
        }

        .amount {
            font-size: 1.125rem;
        }
    }

    .woocommerce form.checkout_coupon {
        display: block !important;
        background: white;
        padding: 0.5rem 2rem 1rem 2rem;
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: 0;

        select,
        input[type="text"],
        input[type="tel"],
        input[type="email"],
        input[type="password"],
        textarea  {
            appearance: none;
            background-color: #fff;
            border-color: rgba(0, 0, 0, 0.3);
            border-width: 1px;
            border-radius: 0px;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    h1,
    h2 {
        margin-top: 0;
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .basic-content {
        font-size: 1rem;

        @include breakpoint(from-desktop) {
            &:before {
                content: '';
                position: absolute;
                width: 50%;
                height: 100%;
                left: 0;
                top: 0;
                background: #ebebeb;
                z-index: 2;
            }
        }
    }

    .form-row {
        padding: 0;
        margin: 0 0 0.5rem 0;
    }

    .woo-container {
        @include breakpoint(from-desktop) {
            display: flex;
        }
    }

    .order-review-box {
        order: 1;
        padding: 1.5rem 0;
        display: none;

        @include breakpoint(from-tablet) {
            display: block;
        }

        @include breakpoint(from-desktop) {
            width: 40%;
            padding: 2rem 0 2rem 2rem;
        }

        @include breakpoint(from-desktop-mid) {
            padding: 3rem 0 3rem 3rem;
            width: 34%;
        }

        &.open {
            display: block;
        }

        table.shop_table {
            border: none;

            td,
            th {
                padding: 0.75rem 0;
            }

            td:last-child {
                text-align: right;
            }
        }

        ul#shipping_method li {
            display: flex;
            align-items: center;
            margin: 0;

            &:not(:first-child) {
                margin-top: 0.25rem;
            }

            input[type="radio"] {
                margin: 0 0.75rem 0 0;
            }
        }

        .order-total td {
            font-size: 1.25rem;
        }
    }

    .woocommerce-shipping-totals {
        ul#shipping_method li {
            display: flex;
            align-items: center;
            margin: 0;

            &:not(:first-child) {
                margin-top: 0.25rem;
            }

            input[type="radio"] {
                margin: 0 0.75rem 0 0;
            }
        }
    }

    .woocommerce-shipping-fields {
        .shipping-address-toggle {
            label {
                display: flex;
                align-items: center;
                margin: 0;
                line-height: 1em;

                &:not(:first-child) {
                    margin-top: 0.75rem;
                }

                input[type="radio"] {
                    margin: 0 0.75rem 0 0;
                }
            }
        }

        .shipping_address {
            padding-top: 2rem;
        }
    }

    .checkout-process {
        padding: 1.5rem 0 0 0;

        @include breakpoint(from-tablet) {
            padding: 1.5rem 0;
        }

        @include breakpoint(from-desktop) {
            background: #ebebeb;
            width: 60%;
            padding: 2rem 2rem 2rem 0;
        }

        @include breakpoint(from-desktop-mid) {
            padding: 3rem 3rem 3rem 0;
            width: 66%;
        }
    }

    #payment {
        border-radius: 0;

        ul.payment_methods {
            padding: 0;
        }
    }

    form.checkout {
        .woocommerce-billing-fields,
        .woocommerce-shipping-fields,
        .woocommerce-shipping-totals,
        #payment {
            background: white;

            &:not(:first-child) {
                margin-top: 2rem;
            }

            @include breakpoint(from-tablet) {
                padding: 2rem;
                box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
            }
        }

        select,
        input[type="text"],
        input[type="tel"],
        input[type="email"],
        input[type="password"],
        textarea,
        .select2-container--default .select2-selection--single  {
            appearance: none;
            background-color: #fff;
            border-color: rgba(0, 0, 0, 0.3);
            border-width: 1px;
            border-radius: 0px;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5rem;
        }

        .select2-container--default .select2-selection--single {
            height: auto;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 1.5rem;
            padding: 0;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            display: none;
        }

        select,
        .select2-container--default .select2-selection--single {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
            background-position: right 0.5rem center;
            background-repeat: no-repeat;
            background-size: 1.5em 1.5em;
            padding-right: 2.5rem;
            -webkit-print-color-adjust: exact;
            color-adjust: exact;
        }

        .woocommerce-billing-fields {
            h3 {
                margin-top: 0;
            }
        }
    }
}
