.woocommerce-order-completed {
    font-size: 1rem;
    padding: 1.5rem 0;

    @include breakpoint(from-tablet) {
        padding: $block-padding;
    }

    h1 {
        margin: 0 0 0.25rem 0;
        font-size: 1.75rem;
    }

    .woocommerce-notice {
        margin-top: 0;
    }

    h2 {
        margin-top: 0;
        font-size: 1.25rem;
    }

    ul.order_details {
        padding: 0;
        margin: 2rem 0 2rem 0;
    }

    table.shop_table {
        border: none;

        thead {
            display: none;
        }

        td,
        th {
            padding: 0.75rem 0;
        }

        td:last-child {
            text-align: right;
        }
    }
}
