.woocommerce {
    .filter-button {
        display: none !important;
    }
}

.woocommerce-cart .basic-content,
.woocommerce-checkout .basic-content {
    padding: 0;
}

.woocommerce,
.woocommerce-cart,
.woocommerce-checkout {
    .woo-main-body {
        padding: 1.5rem 0;

        @include breakpoint(from-tablet) {
            padding: $block-padding;
        }

        .woocommerce-products-header__title {
            font-size: 1.75rem;
        }

        select {
            appearance: none;
            background-color: #fff;
            border-color: rgba(0, 0, 0, 0.3);
            border-width: 1px;
            border-radius: 0px;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5rem;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
            background-position: right 0.5rem center;
            background-repeat: no-repeat;
            background-size: 1.5em 1.5em;
            padding-right: 2.5rem;
            -webkit-print-color-adjust: exact;
            color-adjust: exact;
        }
    }

    &,
    .woo-main-body {
        a, button, input {
            &.button,
            &.button.alt,
            &.button:disabled,
            &.button:disabled[disabled],
            &.button.disabled,
            &.button.alt:disabled,
            &.button.alt:disabled[disabled],
            &.button.alt.disabled {
                background: $ui-primary;
                color: white;
                text-align: center;
                text-transform: uppercase;
                display: inline-block;
                margin: 0;
                border-radius: 99rem;
                padding: 0.75rem 2rem;
                font-size: 1rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: $ui-secondary;
                    color: white;
                }
            }
        }
    }
}
