.woocommerce {
    div.product {
        @include breakpoint(from-tablet) {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }

        div.images {
            @include breakpoint(from-tablet) {
                width: 45%;
            }

            @include breakpoint(from-desktop) {
                display: flex;
                align-items: flex-start;
            }

            .flex-control-thumbs {
                margin: 0 -0.5rem;

                @include breakpoint(from-desktop) {
                    order: -1;
                    width: 5rem;
                    margin: 0 1rem 0 0;
                    flex-shrink: 0;
                }

                li {
                    margin-top: 1rem;
                    width: 50%;
                    padding: 0 0.5rem;

                    @include breakpoint(from-phablet) {
                        width: 25%;
                    }

                    @include breakpoint(from-tablet) {
                        width: 33.3333%;
                    }

                    @include breakpoint(from-desktop) {
                        padding: 0;
                        width: 100%;
                        margin-top: 0;
                        margin-bottom: 1rem;
                        width: auto;
                        float: none;
                        clear: none;
                        display: block;
                    }
                }
            }
        }

        div.summary {
            @include breakpoint(from-tablet) {
                padding-left: 3rem;
                width: 55%;
            }

            .product_title {
                font-size: 2rem;
            }

            .variations {
                width: 100%;

                td {
                    padding: 0.5rem 0;
                    vertical-align: middle;
                }

                .value {
                    text-align: right;
                }

                select {
                    margin: 0;
                    width: 100%;
                }
            }

            .reset_variations {
                display: none !important;
            }

            div.quantity {
                .qty {
                    width: 4rem;
                    padding: 0.75rem 0.5rem;
                }
            }

            .woocommerce-product-details__short-description,
            .woocommerce-variation-description {
                line-height: 1.6;
            }

            .woocommerce-variation-price {
                margin-bottom: 0.75rem;
            }

            .price {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                font-size: 1.75rem;
                color: black;
                font-weight: 700;

                > span.amount {
                    margin: 0 0.5rem;
                }

                ins {
                    width: 100%;
                    text-decoration: none;
                }

                del {
                    width: 100%;
                    order: 1;
                    font-size: 0.9rem;
                    text-decoration: none;
                    font-weight: 400;
                    display: flex;
                    align-items: center;

                    &:before {
                        content: 'Regular';
                        margin-right: 0.325rem;
                    }
                }
            }
        }

        .woocommerce-tabs {
            width: 100%;
            box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
            margin-top: 3rem;

            ul.tabs {
                padding: 0;
                border-radius: 0;
                border: none;
                background: #f7f5fd;
                margin: 0;

                @include breakpoint(from-tablet) {
                    display: flex;
                    flex-wrap: wrap;
                }

                &:before,
                &:after {
                    display: none;
                }

                li {
                    width: 100%;
                    text-align: center;
                    padding: 0;
                    background: #f7f5fd;
                    border-radius: 0;
                    border: none;
                    border-left: 0.25rem solid transparent;
                    margin: 0;

                    @include breakpoint(from-tablet) {
                        border-top: 0.25rem solid transparent;
                        border-left: none;
                        width: 33.3333%;
                    }

                    &:before,
                    &:after {
                        display: none;
                    }

                    &.active {
                        border-left: 0.25rem solid $ui-primary;

                        @include breakpoint(from-tablet) {
                            border-top: 0.25rem solid $ui-primary;
                            border-left: none;
                        }
                    }

                    a {
                        display: block;
                        color: #c3cfe6;
                        padding: 1rem;
                    }
                }
            }

            .panel {
                padding: 0.5rem 1.5rem;
                margin: 0;
                line-height: 1.6;

                > h2:first-child {
                    display: none;
                }
            }
        }
    }

    .related-products-wrapper {
        background: #ebebeb;
        padding: 1.5rem 0;

        @include breakpoint(from-tablet) {
            padding: $block-padding;
        }

        h2 {
            font-size: 1.75rem;
            margin-bottom: 2rem;
        }

        ul.products {
            display: block;
            margin: 0 -0.75rem;

            li.product {
                float: left;
                clear: none;
                width: auto;
                box-shadow: none;
                margin: 0 0.75rem;
            }
        }

        .slick-prev {
            right: 3rem;

            &:before {
                content: "\f053";
            }
        }

        .slick-next {
            right: 0.75rem;

            &:before {
                content: "\f054";
            }
        }

        .slick-prev,
        .slick-next {
            top: -3rem;
            left: auto;
            bottom: auto;
            border: 1px solid rgba(0, 0, 0, 0.3);
            width: 2rem;
            height: 2rem;
            line-height: 2rem;

            &:before {
                font-family: $font-family-icons;
                color: black;
                width: auto;
                height: auto;
                line-height: 2rem;
            }
        }

        .slick-track {
            margin: 0;
        }
    }
}
